.photo-grid{
    height:100vh;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: 120px;
}

@media screen and (min-width: 600px){
    .card-1{
    grid-row: span 4 / auto;
    grid-column: span 3 /auto;
    }
}
